<div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://cdn-icons-png.flaticon.com/512/2331/2331729.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@title</h5>
                <p class="card-text">@Desc</p>
                <p class="card-text">@Code</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string title{ get; set; }
    [Parameter]
    public string Desc{ get; set; }
    [Parameter]
    public string Code{ get; set; }
}
