@inject CartData _db
@inject IMatToaster Toaster

<li style="list-style: none;">
  <article style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <div class="card">
        <img src="@src" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">@title</h5>
          <p class="card-text">@desc</p>
          <p class="card-text">@string.Format("฿{0:f2}",btnText)</p>
          <a class="btn btn-primary" @onclick="AddToCart">
              <i class="oi oi-cart"></i>  Add to cart
          </a>
        </div>
      </div>
  </article>
</li>

@code {
    private DisplayCartModel cartItem = new DisplayCartModel();
    [Parameter]
    public string src { get; set; }
    [Parameter]
    public string title{ get; set; }
    [Parameter]
    public string desc{ get; set; }
    [Parameter]
    public string btnText{ get; set; }
    [Parameter]
    public string btnHref{ get; set; }
    [Parameter]
    public string aHref{ get; set;}

    private async Task AddToCart()
    {
        Cart cart = new Cart
        {
            ProductImg = src,
            ProductName = title,
            ProductPrice = float.Parse(btnText)
        };
        await _db.InsertCart(cart);
        Toaster.Add("Item added to cart",MatToastType.Success);
    }
}
