@page "/discountCode"

<PageTitle>Discount Code</PageTitle>
<main class="container py-5">
	<ul class="grid_container my-5">
        <h3>Discount Code</h3>
        <CouponCard title="30% off!"
        Desc="No min. spend"
        Code="TEST123"></CouponCard>

        <CouponCard title="30% off!"
        Desc="No min. spend"
        Code="TEST123"></CouponCard>

        <CouponCard title="30% off!"
        Desc="No min. spend"
        Code="TEST123"></CouponCard>

        <CouponCard title="30% off!"
        Desc="No min. spend"
        Code="TEST123"></CouponCard>
        
	</ul>
</main>
@code {

}
