@page "/login"
@using Web_Project.Authentication;
@layout ShopLayout

@inject MemberData _MemberDb
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IJSRuntime js
<PageTitle>Login</PageTitle>

<section>
    <h3>Login</h3>
    <form>
      <!-- Email input -->
      @*<div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>*@
      <MatThemeProvider Theme=@theme1>
          <MatTextField @bind-Value="@loginMember.Email" Label="Email" FullWidth="true" Class="mb-4 mt-4"></MatTextField>
          <MatTextField @bind-Value="@loginMember.Password" Label="Password" FullWidth="true" Class="mb-4 mt-4" Type="password"></MatTextField>
      </MatThemeProvider>
      

      <!-- Password input -->
      @*<div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>*@
      

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4" @onclick="Authenticate">Sign in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="register">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
</section>

@code {
    MemberLoginModel loginMember = new MemberLoginModel();

    MatTheme theme1 = new MatTheme
    {
        Primary = MatThemeColors.Blue.A400.Value
    };

    private async Task Authenticate()
    {
        var memberAccount = await _MemberDb.GetMemberByEmail(loginMember.Email);
        if(memberAccount == null || memberAccount.Password != loginMember.Password)
        {
            await js.InvokeVoidAsync("alert", "Invalid Email or Password");
            return;
        }
        var custonAuthStateProvider = (CustomAuthProvider)authStateProvider;
        await custonAuthStateProvider.UpdateAuthenticationStateAsync(new UserSession
            {
                Email = memberAccount.Email,
                FirstName = memberAccount.FirstName,
                Role = memberAccount.Role
            });
        navManager.NavigateTo("/", true);
    }
}