@page "/memberedit"

@using DataAccess.Data
@using Web_Project.DataModels

@inject MemberData _db

<h1>Memberedit</h1>
<h3>Current Member</h3>
<div class="form-inline">
	<label class="sr-only" for="filter-name">Filter</label>
	<input type="text" class="form-control mb-2 mr-sm-2"
	       placeholder="Filter by name" />
	<button type="button" class="btn btn-primary mr-sm-2 mb-2">Filter</button>
	<button type="button" class="btn btn-danger  mb-2">Clear test</button> 
</div>
@if (member is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>"Pakawat"</td>
				<td>"Srithong"</td>
				<td>
					<MatButton>Edit</MatButton>
				</td>
				<td>
					<MatButton>Delete</MatButton>
				</td>
			</tr>
		</tbody>
	</table>
}

@code {
	private List<Member> member;

	protected override async Task OnInitializedAsync()
	{
		member = await _db.GetMember();
	}

}
