@page "/productedit"

@using DataAccess.Data
@using Web_Project.DataModels

@inject ProductData _db

<h1>Productedit</h1>
<h3>Current Product</h3>
<div class="form-inline">
	<label class="sr-only" for="filter-name">Filter</label>
	<input type="text" class="form-control mb-2 mr-sm-2"
	       placeholder="Filter by name" />
	<button type="button" class="btn btn-primary mr-sm-2 mb-2">Filter</button>
	<button type="button" class="btn btn-danger  mb-2">Clear</button>
</div>
@if (product is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>"Tools"</td>
				<td>
					<MatButton>Edit</MatButton>
				</td>
				<td>
					<MatButton>Delete</MatButton>
				</td>
			</tr>
		</tbody>
	</table>
}

@code {
	private List<Product> product;

	protected override async Task OnInitializedAsync()
	{
		product = await _db.GetProduct();
	}


}
