@page "/shop"
@inject ProductData _db

<PageTitle>Shop</PageTitle>
<h3>Shop</h3>

<main class="container">
  <ul class="grid_container">
@*        @foreach(var product in products)
        {
            <ProductCard src="@product.ProductImg" 
            title="@product.ProiductName" 
            desc="@product.ProductDesc"
            btnText="@Convert.ToString(product.ProductPrice)" 
            btnHref="counter"
            aHref="counter"></ProductCard>
        }*@
    <ProductCard src="https://www.jib.co.th/img_master/product/original/2019102110373535557_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Price" 
    btnHref="counter"
    aHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://github.com/fireship-io/fireship.io/blob/master/content/courses/angular/img/featured.png?raw=true" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>
  </ul>
</main>
@* <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.jib.co.th/img_master/product/original/2019102110373535557_1.jpg" class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22241%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20241%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1841f5aeea9%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1841f5aeea9%22%3E%3Crect%20width%3D%22241%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289.75390625%22%20y%3D%2295.1%22%3E241x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div>
</div>
</div> *@
@* <ProductCard src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" 
title="Card title" 
desc="Some quick example text to build on the card title and make up the bulk of the card's content."
btnText="Go somewhere" 
btnHref="counter"></ProductCard> *@
@code {
    private List<Product> products;
    protected override async Task OnInitializedAsync()
    {
        products = await _db.GetProduct();
    }
}
