@page "/shop"
@inject ProductData _db

<PageTitle>Shop</PageTitle>
<h3>Shop</h3>
@if(products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <main class="container">
        <ul class="grid_container">
        @foreach(var product in products)
        {
            <ProductCard src="@product.ProductImg" 
            title="@product.ProductName" 
            desc="@product.ProductDesc"
            btnText="@Convert.ToString(product.ProductPrice)" 
            btnHref="counter"
            aHref="counter"></ProductCard>
        }
 @*    <ProductCard src="https://www.jib.co.th/img_master/product/original/2019102110373535557_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Price" 
    btnHref="counter"
    aHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://github.com/fireship-io/fireship.io/blob/master/content/courses/angular/img/featured.png?raw=true" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>

    <ProductCard src="https://www.jib.co.th/img_master/product/original/2022052309492353368_1.jpg" 
    title="Card title" 
    desc="Some quick example text to build on the card title and make up the bulk of the card's content."
    btnText="Go somewhere" 
    btnHref="counter"></ProductCard>*@
        </ul>
    </main>
}

@code {
    private List<Product> products;
    protected override async Task OnInitializedAsync()
    {
        products = await _db.GetProduct();
    }
}
